<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Task</title>
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;1,600&display=swap" rel="stylesheet">
</head>

<body>
    <header class="header_sec1">
            <p>subscribe</p>
            <h2>Large</h2>

            <div>
                <i class="fa fa-search"></i>
                <button>Sign Up</button>
            </div>
    </header>

    

    
    <ul type="none">
        <li><a href=""> World</a></li>
        <li><a href="">U.S.</a></li>
        <li><a href="">Technology</a></li>
        <li><a href="">Design</a></li>
        <li><a href="">Culture</a></li>
        <li><a href="">Business</a></li>
        <li><a href="">Politics</a></li>
        <li><a href="">Opinion</a></li>
        <li><a href="">Science</a></li>
        <li><a href="">Health</a></li>
        <li><a href="">Style</a></li>
        <li><a href="">Travel</a></li>
    </ul>

    <div class="banner">
        <div class="bannerText">
            <h1>Title of a longer feature blog post</h1>
            <h6>Multiple lines of text that form the lede informing new readers quickly and efficiently about what's
                most interesting in this post's contents.</h6>
            <h4>Continue reading...</h4>
        </div>
    </div>

    <div class="cards">


        <div class="card">
            <div class="part1">
                <p>World</p>
                <h1>Featured Post</h1>
                <p>Nov 12</p>
                <p>This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                <h4>Continue reading</h4>
            </div>
            <div class="thumbnail"><p class="thumbnailtext">Thumbnail</p></div>
            </div>


            <div class="card">
                <div class="part1">
                    <p>Design</p>
                    <h1>Featured Post</h1>
                    <p>Nov 11</p>
                    <p>This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                    <h4>Continue reading</h4></div>
                    <div class="thumbnail"><p class="thumbnailtext">Thumbnail</p></div>
                </div>
            </div>

        <footer>
            <p>Album example is &copy 2022</p>
            <a href="">back to top</a>
        </footer>

</body>

</html>